<div *ngFor="let frame of frames">
  <div class="frame-wrapper" [style.top.px]="frame.position.y" [style.left.px]="frame.position.x">
    <div class="content-wrapper" [style.width.px]="frame.size.w" [style.height.px]="frame.size.h"
      [ngClass]="{ 'object-frame': frame.frameType === 'Object', 'tag-frame': frame.frameType === 'Tag' }">
      <div class="frame-body">
        <ul>
          <li *ngIf="frame.frameType === 'Object'"><b>Origin:</b> {{ frame.origin }}</li>

          <ng-container *ngIf="frame.frameType === 'Object'">
            <li *ngFor="let obj of frame.objectData">
              <b>Name:</b> {{ obj.objectName }}
            </li>
            <li *ngFor="let obj of frame.objectData">
              <b>ObjectId:</b> {{ obj?.id }}
            </li>
          </ng-container>
          <ng-container *ngIf="frame.frameType === 'Tag'">
            <ng-container *ngFor="let tag of frame.tagData; let isFirst = first">
              <li *ngIf="isFirst"><b>Parent:</b> {{ tag?.associatedObject }}</li>
              <li><b>Tag Name:</b> {{ tag?.tagName }}</li>
              <li *ngIf="tag?.description"><b>Description:</b> {{tag?.description}}</li>
              <li><b>TagId:</b>{{tag?.tagId}}</li>
              <li><b>ParentObjectId:</b>{{tag?.associatedObjectId}}</li>
            </ng-container>
          </ng-container>
        </ul>
      </div>
      <div class="top-bar-wrapper" [attr.id]="frame.id" (mousedown)="drag($event,frame,frame.id)">
        <div class="top-bar-title">
          {{frame.id}}
        </div>
        <span class="delete-icon" (click)="deleteFrame(frame.id)">&times;</span>
      </div>
    </div>
    <div class="resizers" [style.width.px]="frame.size.w" [style.height.px]="frame.size.h" [attr.id]="frame.id">
      <div (mousedown)="resize($event, ['right'], 'x', frame)" class="resizer right"></div>
      <div (mousedown)="resize($event, ['left'], 'x', frame)" class="resizer left"></div>
      <div (mousedown)="resize($event, ['bottom'],'y', frame)" class="resizer bottom"></div>
      <div (mousedown)="resize($event, ['top'], 'y', frame)" class="resizer top"></div>
      <div (mousedown)="resize($event, ['top','right'], 'xy', frame)" class="resizer top-right"></div>
      <div (mousedown)="resize($event, ['top','left'], 'xy', frame)" class="resizer top-left"></div>
      <div (mousedown)="resize($event, ['bottom','left'], 'xy', frame)" class="resizer bottom-left"></div>
      <div #resizeCorner (mousedown)="resize($event, ['bottom','right'], 'xy', frame)" class="resizer bottom-right">
      </div>
    </div>
  </div>

  <div *ngFor="let line of lines">
    <app-line [parentId]="line.parentId" [childId]="line.childId[0]" [width]="frame.size.w"
    [height]="frame.size.h">
  </app-line>
  </div>
</div>