
.top-bar-title {
  cursor: grab;
  position: relative;
  top: 5px;
  left: 10px; 
  font-size: 18px;
  color: rgb(0, 0, 0);
}

.frame-body {
  position: absolute;
  top: 30px;
  left: 10px;
  font-size: 14px;
  color: rgb(0, 0, 0);
}

.delete-icon {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  font-size: 18px;
  color: red;
}

.top-bar-wrapper {
    width: 100%;
    height: 30px;
    background-color: rgb(188, 248, 234);
  }
  
  .frame-wrapper {
    position: absolute;
    border: 2px solid transparent;
    border-radius: 8px;

  }
  
  .content-wrapper {
    position: absolute;
    background-color: rgb(91, 135, 255);
    overflow: hidden;
  }


  .object-frame {
    background-color:  rgb(188, 207, 248);
  }
  
  .tag-frame {
    background-color: rgb(255, 165, 183);;
  }
  
  .resizers {
    box-sizing: border-box;
  }
  
  .resizers .resizer {
    opacity: 1;
    width: 6px;
    height: 6px;
    border-radius: 1px;
    background: transparent;
    border: 0px transparent;
    position: absolute;
  }
  
  .resizers .right {
    top: 0;
    right: -3px;
    height: 100%;
    cursor: ew-resize;
  }
  
  .resizers .bottom {
    bottom: -3px;
    left: 0;
    width: 100%;
    cursor: ns-resize;
  }
  
  .resizers .top {
    top: -3px;
    left: 0;
    width: 100%;
    cursor: ns-resize;
  }
  
  .resizers .left {
    top: 0;
    left: -3px;
    height: 100%;
    cursor: ew-resize;
  }
  
  .resizers .bottom-right {
    right: -3px;
    bottom: -3px;
    cursor: nwse-resize;
  }
  
  .resizers .top-right {
    right: -3px;
    top: -3px;
    cursor: nesw-resize;
  }
  
  .resizers .top-left {
    left: -3px;
    top: -3px;
    cursor: nwse-resize;
  }
  
  .resizers .bottom-left {
    left: -3px;
    bottom: -3px;
    cursor: nesw-resize;
  }
  