
<div #wrapper class="frame-wrapper" [style.top.px]="position.y" [style.left.px]="position.x">
  <svg class="frame-lines">
    <line *ngIf="frame?.frameType === 'Object'" [attr.x1]="points.startingPosition.x" [attr.y1]="points.startingPosition.y"
          [attr.x2]="points.endingPosition.x" [attr.y2]="points.endingPosition.y"></line>
  </svg>
  
  <div class="content-wrapper" [style.width.px]="size.w" [style.height.px]="size.h"
    [ngClass]="{ 'object-frame': frame?.frameType === 'Object', 'tag-frame': frame?.frameType === 'Tag' }">
    <div class="frame-body">
      <ul>
        <li *ngIf="frame?.frameType === 'Object'">Origin: {{ frame?.origin }}</li>
        <ng-container *ngIf="frame?.frameType === 'Object'">
          <li *ngFor="let obj of frame?.objectData">
            Object Name: {{ obj.objectName }}
          </li>
          <li *ngFor="let obj of frame?.objectData">
            Object Id: {{ obj?.id }}
          </li>
        </ng-container>
        <ng-container *ngIf="frame?.frameType === 'Tag'">
          <ng-container *ngFor="let tag of frame?.tagData; let isFirst = first">
            <li *ngIf="isFirst">Object Id: {{ tag?.associatedObjectId }}</li>
            <li>Tag Name: {{ tag?.tagName }}</li>          
          </ng-container>
        </ng-container>
      </ul>
    </div>
    <div class="top-bar-wrapper" (mousedown)="drag($event)">
      <span class="delete-icon" (click)="deleteFrame(frame?.id)">&times;</span>
      <div class="top-bar-title">
        {{ frame?.frameType}} - {{frame?.id}}
        <span class="delete-icon" (click)="deleteFrame(frame?.id)">&times;</span>
      </div>
    </div>
  </div>


  <div class="resizers" [style.width.px]="size.w" [style.height.px]="size.h">
    <div (mousedown)="resize($event, ['right'], 'x')" class="resizer right"></div>
    <div (mousedown)="resize($event, ['left'], 'x')" class="resizer left"></div>
    <div (mousedown)="resize($event, ['bottom'],'y')" class="resizer bottom"></div>
    <div (mousedown)="resize($event, ['top'], 'y')" class="resizer top"></div>
    <div (mousedown)="resize($event, ['top','right'], 'xy')" class="resizer top-right"></div>
    <div (mousedown)="resize($event, ['top','left'], 'xy')" class="resizer top-left"></div>
    <div (mousedown)="resize($event, ['bottom','left'], 'xy')" class="resizer bottom-left"></div>
    <div #resizeCorner (mousedown)="resize($event, ['bottom','right'], 'xy')" class="resizer bottom-right"></div>
  </div>
</div>